/* ============================================= */
/* GENERALES */
/* ============================================= */

:root {
  --primary-color: #6A2C70;
  --primary-color-hover: #C060A1;
  --black: #000;
  --gray: #d1cebd;
  --darkgray: #999;
  --white: #fff;
  --darkblue: #003383;
  --blue: #004CC3;
  --lightblue: #E6EBF3;
  --yellow: #FFCE00;
  --red: #D21413;
  --transparent: transparent;
  --green: #23C96F;
  --textRed: #F55E5E;
}

*{
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  /* background-color: pink; */
  font-size: 15px;
  color: var(--text-color);
  color: var(--secondary-color);
  min-height: 100vh;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.btn-rounded {
  border-radius: 3rem;
  padding: 0 2rem;
  height: 48px;
}

.input-rounded {
  border-radius: 10px;
  padding: 0 2rem;
  height: 48px;
}

.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* COLORES BOTONES */
.btn-primary {
  background-color: var(--primary-color);
  border: solid 1px var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
  border: var(--primary-color-hover);
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  box-shadow: 0 0 0 0.2rem rgba(192, 96, 161, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled, .btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: var(--darkgray);
  border-color: var(--darkgray);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(192, 96, 161, 0.5);
}

.btn-outline-primary {
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-primary:hover {
  background-color: var(--primary-color-hover);
  border: solid 1px  var(--primary-color-hover);
}
/* FIN COLORES BOTONES */

/* INPUT RADIO */
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--primary-color-hover);
  background-color: var(--primary-color-hover);
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem #F1D4D4;
}
/* FIN INPUR RADIO */

/* FIN GENERALES */



/* HOME */

.navbar {
  height: 60px;
}
.wrap-img, .wrap-img2 {
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.wrap-img2 img {
  max-height: 80%;
}

.description-img {
  /* background-color: lavender; */
  min-height: calc(100vh - 120px);
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--gray);
}

.big-title {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.wrap-description p {
  margin-bottom: 2rem;
}

.wrap-description-bottom {
  display: flex;
  justify-content: flex-end;
}
/* FIN HOME */

/* NUEVA PARTIDA */
.wrap-form {
  /* background-color: salmon; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}


.wrap-form form .label {
  font-size: 18px;
  font-weight: 700;
}

.form-nuevaPartida {
  /* background-color: yellow; */
  width: 100%;
}

.wrap-form-bottom {
  /* background-color: lightgreen; */
  margin-top: 6rem;
  width: 100%;
}

.wrap-form-bottom p {
  margin-bottom: .5rem;
}

.breadcrumb-item a {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.title {
  font-size: 2rem;
  font-weight: 700;
}


/* FIN NUEVA PARTIDA */

/* GENERAR QR */
.container-wrap-form {
  /* background-color: peru; */
  min-height: calc(100vh - 120px);
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid var(--gray);
}

.control-cantidad {
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.control-cantidad .btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-cantidad .plus-minus-box {
  background-color: #fff;
  width: 5rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.breadcrumb {
  background-color: transparent;
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.breadcrumb a {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.breadcrumb .triggerModal {
  cursor: pointer;
}

.container-qr {
  width: 180px;
  height: 180px;
  margin: 2rem 0;
}

.qr-content p {
  padding: 1rem;
}

.qr-content {
  background-color: var(--gray);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkgray);
  font-weight: 500;
}

.text-success {
  color: var(--green);
  font-size: 18px;
}

.list-group {
  margin-bottom: 2rem;
  font-weight: 500;
}

.list-group-jugadores {
  width: 100%;
}

.list-group-jugadores .list-group-item {
  display: flex;
  justify-content: space-between;
}

.list-group-jugadores .list-group-item span {
  color: var(--darkgray);
}

.list-group-jugadores label {
  color: transparent;
  cursor: pointer;
}

/* FIN GENERAR QR */

/* CTM */
.wrap-img-fluid {
  /* background-color: lightgreen; */
  min-height: calc(100vh - 120px);
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wrap-img-fluid img {
  height: 40vh;
}

.sub-title {
  font-size: 24px;
}

.temporizador {
  font-size: 72px;
  font-weight: 600;
  color: var(--textRed);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* FIN CTM */

/* PUNTUACION */
.bloque-puntuacion {
  /* background-color: yellow; */
  padding: 0;
}

.puntuacion-item {
  display: flex;
  height: 3rem;
  margin-bottom: 1rem;
}

.nameBar {
  background-color: lavender;
  display: flex;
  align-items: center;
  width: 20%;
}

.bar {
  background-color: var(--pink);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0;
  margin: 0 1rem;
  text-align: center;
}

.img-bar img {
  height: 100%;

}


.b-60 {
  width: 50%;
}

.b-50 {
  width: 50%;
}

.b-40 {
  width: 40%;
}

.b-30 {
  width: 30%;
}

.b-20 {
  width: 20%;
}

/* FIN PUNTUACION */

/* MODAL */
.modal-content {
  border-radius: 1rem;
  overflow: hidden;
}

.modal-header {
  background-color: var(--primary-color-hover);
  color: #fff;
}

.modal-header .close {
  color: #fff;
}

.modal-title {
  font-weight: 700;
}

.container-qr-modal {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.modal-footer {
  border: none;
}

.wrap-btns-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}
.wrap-btns-modal .btn {
  margin-top: 1rem;
}
/* FIN MODAL */
