/* ============================================= */
/* GENERALES */
/* ============================================= */

:root {
  --black: #000;
  --gray: #d1cebd;
  --darkgray: #999;
  --white: #fff;
  --darkblue: #003383;
  --blue: #004CC3;
  --lightblue: #E6EBF3;
  --yellow: #FFCE00;
  --red; #D21413;
  --transparent: transparent;
}

*{
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  /* background-color: pink; */
  font-size: 15px;
  color: var(--text-color);
  color: var(--secondary-color);
  min-height: 100vh;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.btn-rounded {
  border-radius: 3rem;
  padding: 0 2rem;
  height: 48px;
}

.input-rounded {
  border-radius: 10px;
  padding: 0 2rem;
  height: 48px;
}

.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FIN GENERALES */



/* HOME */

.navbar {
  height: 60px;
}
.wrap-img, .wrap-img2 {
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem 0 2rem;
}

.description-img {
  background-color: lavender;
  min-height: calc(100vh - 60px);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-title {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.wrap-description p {
  margin-bottom: 2rem;
}

.wrap-description-bottom {
  display: flex;
  justify-content: flex-end;
}
/* FIN HOME */

/* NUEVA PARTIDA */
.wrap-form {
  background-color: salmon;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}


.wrap-form form .label {
  font-size: 18px;
  font-weight: 700;
}

.form-nuevaPartida {
  background-color: yellow;
}

.wrap-form-bottom {
  background-color: lightgreen;
  margin-top: 6rem;
}

.wrap-form-bottom p {
  margin-bottom: .5rem;
}

.breadcrumb-item a {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}


/* FIN NUEVA PARTIDA */

/* GENERAR QR */
.container-wrap-form {
  background-color: peru;
  min-height: calc(100vh - 60px);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.control-cantidad {
  background-color: pink;
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.control-cantidad .btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-cantidad .plus-minus-box {
  background-color: #fff;
  width: 5rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}



/* FIN GENERAR QR */
