

/* LAPTOP HD ====================================*/
@media (max-width: 1366px) {

}
/* END LAPTOP HD */

/* TABLET LANDSCAPE ==========================*/
@media (max-width: 1024px) {



}
/* END TABLET LANDSCAPE */

/* BIG CELL LANDSCAPE ==========================*/
@media (max-width: 823px) and (min-width: 770px) {


}
/* END BIG CELL LANDSCAPE */

/* TABLET PORTRAIT ===========================*/
@media (max-width: 768px) {

  .wrap-img {

  }

  .wrap-img img {
    width: 60%;
  }

  .description-img {
    background-color: lavender;
    min-height: auto;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
/* END TABLET PORTRAIT */

/* CELL LANDSCAPE */
@media (max-width: 736px) {



}
/* END CELL LANDSCAPE */


/* SM CELL LANDSCAPE ==========================*/
@media (max-width: 568px) {


}
/* END SM CELL LANDSCAPE */

/* CELL PORTRAIT =======================*/
@media (max-width: 480px) {



}
/* END CELL PORTRAIT */


/* SM CELL PORTRAIT ================== */
  @media (max-width: 360px) {

  }
